# PROJETO MÓDULO III - Data Science Aplicada

***

## Estatística com python para análise de dados

### Importação das libs

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

### Importação dos Datasets

In [21]:
df = pd.read_csv('PENSE_AMOSTRA2_ALUNOESCOLA.CSV', sep=';')
df.head(3)

,ANOPESQ,PAIS,REGEOGR,VB00004,VB01001,VB01002,VB01003,VB01004,VB01005,VB01006,...,VE01P28A,VE01P68,VE01P69,VE01P70,VE01P71,VE01P72,V0041,aluno,escola,turma
0,2015,76,1,1,2,1,13,7,7,1,...,1,1,1,1,1,1,1,1,1,296
1,2015,76,1,1,2,1,14,4,7,1,...,1,1,1,1,1,1,1,2,1,296
2,2015,76,1,1,1,4,13,6,7,1,...,1,1,1,1,1,1,1,3,1,296

In [22]:
# Seleção das colunas
colunas =['VE01P70', 'REGEOGR', 'V0008', 'VB01003', 'VB07004', 'VB07006', 'VB07007', 'VB07008', 'VB07009',
         'VB07010', 'VB12001', 'VB12002', 'VB12003', 'VB11006', 'VB11007', 'VB11001', 'VB11002', 'VB11003',
         'VB11004A', 'VB11005']

In [23]:
# Selecionando somente as colunas que serão utilizadas para análise
df = df[colunas]

In [24]:
colunas = ['politica_contra_bu', 'regiao_geo', 'tipo_escola', 'idade', 'preocupacao_resp', 'amigos_trataram_bem',
          'amigos_trataram_mal', 'motivo_bul', 'praticou_bu', 'ja_sofreu_bul', 'sentido_sozinho',
          'sem_dormir', 'qt_amigos', 'imagem_corporal', 'sentimento_corpo', 'corpo', 'fazendo_corpo', 'remedio_perder_peso',
          'remedio_perder_peso_sem_medico', 'remedio_ganhar_peso']

In [25]:
# Renomeando as colunas
df.columns = colunas