# MODULO 04 - Análise e Previsão de Séries Temporais

## IMPORTAÇÃO LIBS

In [18]:
import pandas as pd 
import matplotlib as plt
import seaborn as sns

import datetime

from datetime import datetime

## IMPORTAÇÃO DO DATASET

In [2]:
dados = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/serie_temporal_bootcamp/main/tuberculose_ano_mes_diagnostico.csv",
                   sep = ";", skiprows=3, skipfooter=16, engine="python", encoding='ISO-8859-1')

dados

,Ano Diagnóstico,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Total
0,2001,8088,6542,8095,7305,7656,6805,6987,8065,6697,7524,6874,6627,87265
1,2002,8013,7346,7961,8771,7784,6713,7746,8330,7654,8200,7532,6809,92859
2,2003,8115,7985,7474,7975,8024,7082,7949,7585,8136,8521,7624,7303,93773
3,2004,7574,6743,8574,8089,7763,7314,7825,8232,7901,8016,7753,7196,92980
4,2005,7432,6748,8441,7958,8019,7781,7282,8391,7690,7186,7587,7541,92056
5,2006,7385,6687,8132,6804,7593,6984,7101,7722,6793,7005,6674,6151,85031
6,2007,7342,6204,8115,7266,7368,6591,7184,7564,6712,7465,6695,6094,84600
7,2008,7355,6646,7278,7612,6895,6929,7688,7797,7631,7564,6799,6574,86768
8,2009,7113,6452,8146,7514,7168,6702,7443,7368,7388,7285,7016,6723,86318
9,2010,6912,6403,8308,7049,6973,6621,7128,7389,7165,7210,7047,7176,85381
10,2011,7112,7269,7484,7558,7688,6940,7079,7992,7386,6994,7375,6936,87813
11,2012,7375,6774,7882,6927,7586,6787,7255,8014,6734,7606,6941,6302,86183
12,2013,7502,6209,7102,7696,6996,6953,7379,7931,7377,7789,6939,6335,86208
13,2014,7670,7040,6754,7260,7177,6322,7516,7124,7505,7470,6905,6470,85213
14,2015,7111,6160,7833,6880,6893,6916,7531,7463,7189,7345,7287,6844,85452
15,2016,7116,6800,8067,7360,7315,7527,6991,7702,7030,6588,7039,6672,86207
16,2017,7481,6803,8680,6780,8091,7394,7225,8110,7447,7809,7451,7020,90291
17,2018,7881,6821,7901,8121,7892,7720,8109,8934,7663,8701,7711,6900,94354
18,2019,8392,7754,7648,8274,8383,7363,8382,8239,8143,8592,7615,7220,96005
19,Total,142969,129386,149875,143199,143264,133444,141800,149952,140241,144870,136864,128893,1684757

In [3]:
# removendo 'coluna Total'
dados.drop('Total', axis=1, inplace=True)
dados

,Ano Diagnóstico,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,2001,8088,6542,8095,7305,7656,6805,6987,8065,6697,7524,6874,6627
1,2002,8013,7346,7961,8771,7784,6713,7746,8330,7654,8200,7532,6809
2,2003,8115,7985,7474,7975,8024,7082,7949,7585,8136,8521,7624,7303
3,2004,7574,6743,8574,8089,7763,7314,7825,8232,7901,8016,7753,7196
4,2005,7432,6748,8441,7958,8019,7781,7282,8391,7690,7186,7587,7541
5,2006,7385,6687,8132,6804,7593,6984,7101,7722,6793,7005,6674,6151
6,2007,7342,6204,8115,7266,7368,6591,7184,7564,6712,7465,6695,6094
7,2008,7355,6646,7278,7612,6895,6929,7688,7797,7631,7564,6799,6574
8,2009,7113,6452,8146,7514,7168,6702,7443,7368,7388,7285,7016,6723
9,2010,6912,6403,8308,7049,6973,6621,7128,7389,7165,7210,7047,7176
10,2011,7112,7269,7484,7558,7688,6940,7079,7992,7386,6994,7375,6936
11,2012,7375,6774,7882,6927,7586,6787,7255,8014,6734,7606,6941,6302
12,2013,7502,6209,7102,7696,6996,6953,7379,7931,7377,7789,6939,6335
13,2014,7670,7040,6754,7260,7177,6322,7516,7124,7505,7470,6905,6470
14,2015,7111,6160,7833,6880,6893,6916,7531,7463,7189,7345,7287,6844
15,2016,7116,6800,8067,7360,7315,7527,6991,7702,7030,6588,7039,6672
16,2017,7481,6803,8680,6780,8091,7394,7225,8110,7447,7809,7451,7020
17,2018,7881,6821,7901,8121,7892,7720,8109,8934,7663,8701,7711,6900
18,2019,8392,7754,7648,8274,8383,7363,8382,8239,8143,8592,7615,7220
19,Total,142969,129386,149875,143199,143264,133444,141800,149952,140241,144870,136864,128893

In [4]:
# removendo index 19
dados.drop(19, inplace=True)
dados

,Ano Diagnóstico,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,2001,8088,6542,8095,7305,7656,6805,6987,8065,6697,7524,6874,6627
1,2002,8013,7346,7961,8771,7784,6713,7746,8330,7654,8200,7532,6809
2,2003,8115,7985,7474,7975,8024,7082,7949,7585,8136,8521,7624,7303
3,2004,7574,6743,8574,8089,7763,7314,7825,8232,7901,8016,7753,7196
4,2005,7432,6748,8441,7958,8019,7781,7282,8391,7690,7186,7587,7541
5,2006,7385,6687,8132,6804,7593,6984,7101,7722,6793,7005,6674,6151
6,2007,7342,6204,8115,7266,7368,6591,7184,7564,6712,7465,6695,6094
7,2008,7355,6646,7278,7612,6895,6929,7688,7797,7631,7564,6799,6574
8,2009,7113,6452,8146,7514,7168,6702,7443,7368,7388,7285,7016,6723
9,2010,6912,6403,8308,7049,6973,6621,7128,7389,7165,7210,7047,7176
10,2011,7112,7269,7484,7558,7688,6940,7079,7992,7386,6994,7375,6936
11,2012,7375,6774,7882,6927,7586,6787,7255,8014,6734,7606,6941,6302
12,2013,7502,6209,7102,7696,6996,6953,7379,7931,7377,7789,6939,6335
13,2014,7670,7040,6754,7260,7177,6322,7516,7124,7505,7470,6905,6470
14,2015,7111,6160,7833,6880,6893,6916,7531,7463,7189,7345,7287,6844
15,2016,7116,6800,8067,7360,7315,7527,6991,7702,7030,6588,7039,6672
16,2017,7481,6803,8680,6780,8091,7394,7225,8110,7447,7809,7451,7020
17,2018,7881,6821,7901,8121,7892,7720,8109,8934,7663,8701,7711,6900
18,2019,8392,7754,7648,8274,8383,7363,8382,8239,8143,8592,7615,7220

In [5]:
# Função 'melt'
dados_set = dados.melt(id_vars='Ano Diagnóstico', value_name='Casos', var_name='Mês')
dados_set

    Ano Diagnóstico  Mês  Casos
0              2001  Jan   8088
1              2002  Jan   8013
2              2003  Jan   8115
3              2004  Jan   7574
4              2005  Jan   7432
..              ...  ...    ...
223            2015  Dez   6844
224            2016  Dez   6672
225            2017  Dez   7020
226            2018  Dez   6900
227            2019  Dez   7220

[228 rows x 3 columns]

In [6]:
# criando coluna com 'mes+ano'
dados_set['data'] = dados_set['Mês'] + "/" + dados_set['Ano Diagnóstico']
dados_set

    Ano Diagnóstico  Mês  Casos      data
0              2001  Jan   8088  Jan/2001
1              2002  Jan   8013  Jan/2002
2              2003  Jan   8115  Jan/2003
3              2004  Jan   7574  Jan/2004
4              2005  Jan   7432  Jan/2005
..              ...  ...    ...       ...
223            2015  Dez   6844  Dez/2015
224            2016  Dez   6672  Dez/2016
225            2017  Dez   7020  Dez/2017
226            2018  Dez   6900  Dez/2018
227            2019  Dez   7220  Dez/2019

[228 rows x 4 columns]

In [32]:
dados_set['Ano Diagnóstico'] = dados_set['Ano Diagnóstico'].astype('datetime64')

In [36]:
for i in dados_set['Mês']:
    print(i)

Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Jan
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Fev
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Mar
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Abr
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Mai
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jun
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Jul
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Ago
Set
Set
Set
Set
Set
Set
Set
Set
Set
Set
Set
Set
Set
Set
Set
Set
Set
Set
Set
Out
Out
Out
Out
Out
Out
Out
Out
Out
Out
Out
Out
Out
Out
Out
Out
Out
Out
Out
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Nov
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez
Dez