# BOOTCAMP ALURA - ANÁLISE DE DADOS DA SAÚDE

## Sobre o projeto

Data Science Aplicada é um bootcamp promovido pela Alura que consiste em analisar dados da saúde pública brasileira.
O bootcamp está organizado em módulos com duração de 12 semanas

***

Este notebook possui as análises do módulo 3

**Análise descritiva e testes estatísticos**

***

## Dataset Utilizado

O dataset utilizado neste módulo está disponível no site do IBGE.

**Arquivo:** PeNSE_2015_AMOSTRA2

Disponível em: <a href="https://www.ibge.gov.br/estatisticas/downloads-estatisticas.html?caminho=pense/2015/microdados/"> IBGE</a>

## Módulo 3

### IMPORTAÇÃO DAS BIBLIOTECAS

In [1]:
import pandas           as pd

from zipfile            import ZipFile

### Libs Import

In [2]:
caminho = 'PeNSE_2015_AMOSTRA2.zip'
zip = ZipFile(caminho)

caminho_pasta_zipada = zip.namelist()[1]

dados = pd.read_csv(zip.open(caminho_pasta_zipada), sep = ';', decimal = ',')
dados.head()

,ANOPESQ,PAIS,REGEOGR,VB00004,VB01001,VB01002,VB01003,VB01004,VB01005,VB01006,...,ESTRATO_EXP,ESTRATOGEOREG,PESO,V0006,V0007,V0008,V0041,aluno,escola,turma
0,2015,76,1,1,2,1,13,7,7,1,...,1223,1,299.735235,1,2,4,1,1,1,296
1,2015,76,1,1,2,1,14,4,7,1,...,1223,1,355.170081,1,2,4,1,2,1,296
2,2015,76,1,1,1,4,13,6,7,1,...,1223,1,299.735235,1,2,4,1,3,1,296
3,2015,76,1,1,1,1,14,6,7,1,...,1223,1,355.170081,1,2,4,1,4,1,296
4,2015,76,1,1,1,1,13,9,7,1,...,1223,1,299.735235,1,2,4,1,5,1,296

In [3]:
# Visualizando os dados na pasta zipada
zip.infolist()

[<ZipInfo filename='arquivos csv/' external_attr=0x10>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV' compress_type=deflate external_attr=0x20 file_size=7262170 compress_size=1235667>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=11420533 compress_size=1329882>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=5000642 compress_size=114324>,
 <ZipInfo filename='arquivos sas/' external_attr=0x10>,
 <ZipInfo filename='arquivos sas/pense_amostra2_aluno.sas7bdat' compress_type=deflate external_attr=0x20 file_size=24691712 compress_size=1957530>,
 <ZipInfo filename='arquivos sas/pense_amostra2_alunoescola.sas7bdat' compress_type=deflate external_attr=0x20 file_size=45253632 compress_size=2461932>,
 <ZipInfo filename='arquivos sas/pense_amostra2_escola.sas7bdat' compress_type=deflate external_attr=0x20 file_size=18105344 compress_size=332162>,
 <ZipInfo filename='arquivos xlsx/' external_attr=0x10>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx' compress_type=deflate external_attr=0x20 file_size=11757246 compress_size=11337133>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx' compress_type=deflate external_attr=0x20 file_size=18732739 compress_size=17064325>,
 <ZipInfo filename='arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx' compress_type=deflate external_attr=0x20 file_size=7159579 compress_size=3209953>,
 <ZipInfo filename='Dicionario_PENSE_Microdados_AMOSTRA2.xls' compress_type=deflate external_attr=0x20 file_size=144896 compress_size=35737>]

In [4]:
# Visualizando os dados na pasta zipada II
zip.namelist()[1]

'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV'

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(10), int64(171)
memory usage: 22.9 MB

In [6]:
dados.select_dtypes(include='object')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[16556 rows x 0 columns]

In [8]:
# sexo dos alunos
dados['VB01001'].value_counts()

1    8287
2    8269
Name: VB01001, dtype: int64

In [10]:
# sexo dos alunos - percentual
dados['VB01001'].value_counts(normalize=True) * 100

1    50.054361
2    49.945639
Name: VB01001, dtype: float64

In [13]:
# satisfacao do aluno em relacao ao seu corpo
frequencia = dados['VB11007'].value_counts()

In [16]:
# satisfacao do aluno em relacao ao seu corpo - percentual
percent = dados['VB11007'].value_counts(normalize = True) * 100

In [21]:
# trasnformando em um dataframe

respostas = {
    1 : 'muito satisfeito',
    2 : 'satisfeito',
    3 : 'indiferente',
    4 : 'insatisfeito',
    5 : 'muito insatisfeito',
    99 : 'nao informado'
}

# criando um dataframe
dist_freq = pd.DataFrame({'frequencia' : frequencia, 'porcentagem' : percent})

#renomeando as colunas
dist_freq.rename(index = respostas, inplace = True)

#renomeando o index
dist_freq.rename_axis('Sentimento x corpo', axis = 1, inplace = True)

#Visualizando o df
dist_freq

Sentimento x corpo  frequencia  porcentagem
satisfeito                6920    41.797536
muito satisfeito          4608    27.832810
insatisfeito              2326    14.049287
indiferente               1807    10.914472
muito insatisfeito         714     4.312636
nao informado              181     1.093259