# LIB'S

In [9]:
import           pandas           as pd
import           kaggle           as kg
import           numpy            as np

import warnings
warnings.filterwarnings('ignore')

# DATASET'S

In [10]:
# Download do dataset do Kaggle
kg.api.authenticate()
kg.api.dataset_download_files(dataset="Sírio-Libanes/covid19", path='gt.zip', unzip=True)

# Lendo o arquivo
df = pd.read_excel('gt.zip/Kaggle_Sirio_Libanes_ICU_Prediction.xlsx', engine='openpyxl')
df

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,AGE_PERCENTIL,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,...,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU
0,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
2,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-6,0
3,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-1.000000,-1.000000,NaN,NaN,NaN,NaN,-1.000000,-1.000000,6-12,0
4,0,1,60th,0,0.0,0.0,0.0,0.0,1.0,1.0,...,-0.238095,-0.818182,-0.389967,0.407558,-0.230462,0.096774,-0.242282,-0.814433,ABOVE_12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0
1921,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0
1922,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,4-6,0
1923,384,0,50th,1,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,6-12,0
1924,384,0,50th,1,0.0,0.0,1.0,0.0,0.0,0.0,...,-0.547619,-0.838384,-0.701863,-0.585967,-0.763868,-0.612903,-0.551337,-0.835052,ABOVE_12,0

# VERIFICANDO DATASET

In [13]:
# Tamanho
df.shape

(1925, 231)

In [14]:
# Descricão dos dados
df.describe()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,GENDER,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,...,RESPIRATORY_RATE_DIFF,TEMPERATURE_DIFF,OXYGEN_SATURATION_DIFF,BLOODPRESSURE_DIASTOLIC_DIFF_REL,BLOODPRESSURE_SISTOLIC_DIFF_REL,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,ICU
count,1925.000000,1925.000000,1925.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,...,1177.000000,1231.000000,1239.000000,1240.000000,1240.000000,1240.000000,1177.000000,1231.000000,1239.000000,1925.000000
mean,192.000000,0.467532,0.368831,0.108333,0.028125,0.097917,0.019792,0.128125,0.046875,0.213021,...,-0.703683,-0.770338,-0.887196,-0.786997,-0.715950,-0.817800,-0.719147,-0.771327,-0.886982,0.267532
std,111.168431,0.499074,0.482613,0.310882,0.165373,0.297279,0.139320,0.334316,0.211426,0.409549,...,0.482097,0.319001,0.296147,0.324754,0.419103,0.270217,0.446600,0.317694,0.296772,0.442787
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,96.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
50%,192.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-0.976190,-0.979798,-1.000000,-0.984944,-0.989822,-1.000000,-0.975924,-0.980333,0.000000
75%,288.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.647059,-0.595238,-0.878788,-0.645482,-0.522176,-0.662529,-0.634409,-0.594677,-0.880155,1.000000
max,384.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
# Colunas
for i in df.columns:
    print (i)

PATIENT_VISIT_IDENTIFIER
AGE_ABOVE65
AGE_PERCENTIL
GENDER
DISEASE GROUPING 1
DISEASE GROUPING 2
DISEASE GROUPING 3
DISEASE GROUPING 4
DISEASE GROUPING 5
DISEASE GROUPING 6
HTN
IMMUNOCOMPROMISED
OTHER
ALBUMIN_MEDIAN
ALBUMIN_MEAN
ALBUMIN_MIN
ALBUMIN_MAX
ALBUMIN_DIFF
BE_ARTERIAL_MEDIAN
BE_ARTERIAL_MEAN
BE_ARTERIAL_MIN
BE_ARTERIAL_MAX
BE_ARTERIAL_DIFF
BE_VENOUS_MEDIAN
BE_VENOUS_MEAN
BE_VENOUS_MIN
BE_VENOUS_MAX
BE_VENOUS_DIFF
BIC_ARTERIAL_MEDIAN
BIC_ARTERIAL_MEAN
BIC_ARTERIAL_MIN
BIC_ARTERIAL_MAX
BIC_ARTERIAL_DIFF
BIC_VENOUS_MEDIAN
BIC_VENOUS_MEAN
BIC_VENOUS_MIN
BIC_VENOUS_MAX
BIC_VENOUS_DIFF
BILLIRUBIN_MEDIAN
BILLIRUBIN_MEAN
BILLIRUBIN_MIN
BILLIRUBIN_MAX
BILLIRUBIN_DIFF
BLAST_MEDIAN
BLAST_MEAN
BLAST_MIN
BLAST_MAX
BLAST_DIFF
CALCIUM_MEDIAN
CALCIUM_MEAN
CALCIUM_MIN
CALCIUM_MAX
CALCIUM_DIFF
CREATININ_MEDIAN
CREATININ_MEAN
CREATININ_MIN
CREATININ_MAX
CREATININ_DIFF
FFA_MEDIAN
FFA_MEAN
FFA_MIN
FFA_MAX
FFA_DIFF
GGT_MEDIAN
GGT_MEAN
GGT_MIN
GGT_MAX
GGT_DIFF
GLUCOSE_MEDIAN
GLUCOSE_MEAN
GLUCOSE_MIN
GLUCOSE_MAX
GLUCOSE_DIFF
HEMATOCRITE_MEDIAN
HEMATOCRITE_MEAN
HEMATOCRITE_MIN
HEMATOCRITE_MAX
HEMATOCRITE_DIFF
HEMOGLOBIN_MEDIAN
HEMOGLOBIN_MEAN
HEMOGLOBIN_MIN
HEMOGLOBIN_MAX
HEMOGLOBIN_DIFF
INR_MEDIAN
INR_MEAN
INR_MIN
INR_MAX
INR_DIFF
LACTATE_MEDIAN
LACTATE_MEAN
LACTATE_MIN
LACTATE_MAX
LACTATE_DIFF
LEUKOCYTES_MEDIAN
LEUKOCYTES_MEAN
LEUKOCYTES_MIN
LEUKOCYTES_MAX
LEUKOCYTES_DIFF
LINFOCITOS_MEDIAN
LINFOCITOS_MEAN
LINFOCITOS_MIN
LINFOCITOS_MAX
LINFOCITOS_DIFF
NEUTROPHILES_MEDIAN
NEUTROPHILES_MEAN
NEUTROPHILES_MIN
NEUTROPHILES_MAX
NEUTROPHILES_DIFF
P02_ARTERIAL_MEDIAN
P02_ARTERIAL_MEAN
P02_ARTERIAL_MIN
P02_ARTERIAL_MAX
P02_ARTERIAL_DIFF
P02_VENOUS_MEDIAN
P02_VENOUS_MEAN
P02_VENOUS_MIN
P02_VENOUS_MAX
P02_VENOUS_DIFF
PC02_ARTERIAL_MEDIAN
PC02_ARTERIAL_MEAN
PC02_ARTERIAL_MIN
PC02_ARTERIAL_MAX
PC02_ARTERIAL_DIFF
PC02_VENOUS_MEDIAN
PC02_VENOUS_MEAN
PC02_VENOUS_MIN
PC02_VENOUS_MAX
PC02_VENOUS_DIFF
PCR_MEDIAN
PCR_MEAN
PCR_MIN
PCR_MAX
PCR_DIFF
PH_ARTERIAL_MEDIAN
PH_ARTERIAL_MEAN
PH_ARTERIAL_MIN
PH_ARTERIAL_MAX
PH_ARTERIAL_DIFF
PH_VENOUS_MEDIAN
PH_VENOUS_MEAN
PH_VENOUS_MIN
PH_VENOUS_MAX
PH_VENOUS_DIFF
PLATELETS_MEDIAN
PLATELETS_MEAN
PLATELETS_MIN
PLATELETS_MAX
PLATELETS_DIFF
POTASSIUM_MEDIAN
POTASSIUM_MEAN
POTASSIUM_MIN
POTASSIUM_MAX
POTASSIUM_DIFF
SAT02_ARTERIAL_MEDIAN
SAT02_ARTERIAL_MEAN
SAT02_ARTERIAL_MIN
SAT02_ARTERIAL_MAX
SAT02_ARTERIAL_DIFF
SAT02_VENOUS_MEDIAN
SAT02_VENOUS_MEAN
SAT02_VENOUS_MIN
SAT02_VENOUS_MAX
SAT02_VENOUS_DIFF
SODIUM_MEDIAN
SODIUM_MEAN
SODIUM_MIN
SODIUM_MAX
SODIUM_DIFF
TGO_MEDIAN
TGO_MEAN
TGO_MIN
TGO_MAX
TGO_DIFF
TGP_MEDIAN
TGP_MEAN
TGP_MIN
TGP_MAX
TGP_DIFF
TTPA_MEDIAN
TTPA_MEAN
TTPA_MIN
TTPA_MAX
TTPA_DIFF
UREA_MEDIAN
UREA_MEAN
UREA_MIN
UREA_MAX
UREA_DIFF
DIMER_MEDIAN
DIMER_MEAN
DIMER_MIN
DIMER_MAX
DIMER_DIFF
BLOODPRESSURE_DIASTOLIC_MEAN
BLOODPRESSURE_SISTOLIC_MEAN
HEART_RATE_MEAN
RESPIRATORY_RATE_MEAN
TEMPERATURE_MEAN
OXYGEN_SATURATION_MEAN
BLOODPRESSURE_DIASTOLIC_MEDIAN
BLOODPRESSURE_SISTOLIC_MEDIAN
HEART_RATE_MEDIAN
RESPIRATORY_RATE_MEDIAN
TEMPERATURE_MEDIAN
OXYGEN_SATURATION_MEDIAN
BLOODPRESSURE_DIASTOLIC_MIN
BLOODPRESSURE_SISTOLIC_MIN
HEART_RATE_MIN
RESPIRATORY_RATE_MIN
TEMPERATURE_MIN
OXYGEN_SATURATION_MIN
BLOODPRESSURE_DIASTOLIC_MAX
BLOODPRESSURE_SISTOLIC_MAX
HEART_RATE_MAX
RESPIRATORY_RATE_MAX
TEMPERATURE_MAX
OXYGEN_SATURATION_MAX
BLOODPRESSURE_DIASTOLIC_DIFF
BLOODPRESSURE_SISTOLIC_DIFF
HEART_RATE_DIFF
RESPIRATORY_RATE_DIFF
TEMPERATURE_DIFF
OXYGEN_SATURATION_DIFF
BLOODPRESSURE_DIASTOLIC_DIFF_REL
BLOODPRESSURE_SISTOLIC_DIFF_REL
HEART_RATE_DIFF_REL
RESPIRATORY_RATE_DIFF_REL
TEMPERATURE_DIFF_REL
OXYGEN_SATURATION_DIFF_REL
WINDOW
ICU

In [19]:
#Valores nulos
df.isna().sum().sum()

223863

In [25]:
df['PATIENT_VISIT_IDENTIFIER'].unique

<bound method Series.unique of 0         0
1         0
2         0
3         0
4         0
       ...
1920    384
1921    384
1922    384
1923    384
1924    384
Name: PATIENT_VISIT_IDENTIFIER, Length: 1925, dtype: int64>